

* {
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
}

/* name- navigation/navigation bar */

nav {
  background-color: #525e65;
  height: 50px;
}

nav ul {
 height: 50px;
 width: 450px;
 margin: 0 auto;
}

nav ul li {
  list-style-type: none;
  float: left;
  width: 150px;
  text-align: center
}

li a {
  text-decoration: none;
  color: #DBE8D4;
  line-height: 50px;
  display: block;
}




li a:hover {
  color: #73CCA8;
  text-decoration: underline;

}

li a.active {
  background-color: #04AA6D;
  color: white;
  text-decoration: underline;
}